.form-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.form-btns {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    width: 230px;
}